
/* ------------------------------------------------------------------------------------
                    Variables
------------------------------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');



:root {

--Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
--Red: hsl(0, 100%, 66%);



--White: hsl(0, 0%, 100%);
--Light-grayish-violet: hsl(270, 3%, 87%);
--Dark-grayish-violet: hsl(279, 6%, 55%);
--Very-dark-violet: hsl(278, 68%, 11%);

}

html {
    font-family: 'Space Grotesk', sans-serif;
}


/* ------------------------------------------------------------------------------------
                    Mobile First
------------------------------------------------------------------------------------ */

body {
    min-height: 100vh;
}

main {
    max-width: 100vw;
    font-weight: 500;
    
}



.card__img--container {
    background-image: url(./images/bg-main-mobile.png);
    position: relative;
    height: 24rem;
    padding: 3.2rem 1.6rem 0 0;
}

.card__back--img, .card__front--img {
    width: 28.6rem;
}

.card__back--container {
    position: absolute;
    width: 28.6rem;
    right: 1.6rem;
    border-radius: 1rem;

}

.card__back--img {
    position: absolute;
    width: 100%;
    /* top: 3.2rem ;
    right: 1.6rem; */
}

#cvc {
    position: absolute;
    color: var(--White);
    right: 5.3rem;
    top: 10.5rem;
}



.card__front--container {
    margin-top: 9.4rem;
    position: relative;
    display: flex;
    width: 28.5rem;
    height: 15.6rem;
    flex-direction: column;
    margin-left: 1.6rem;
    border-radius: 1rem;
}

.card__front--logo {
    position: absolute;
    top: 1.76rem;
    left: 1.9rem;
    width: 5.4rem;
    height: 3rem;
}

.card__front--num {
    position: absolute;
    top: 8.46rem;
    left: 1.9rem ;
    color: var(--White);
    font-size: 1.8rem;
    letter-spacing: .22rem;
}

.card__front--name_date--container {
    position: absolute;
    color: var(--White);
    display: inline-flex;
    width: 28.5rem;
    padding-left: 1.9rem;
    padding-right: 2.1rem;
    justify-content: space-between;
    bottom: 2.06rem;
    font-size: .9rem;
    letter-spacing: .13rem; 
    text-transform: capitalize; 
}


.form__container {
    margin-top: 9.1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    margin: 9.1rem 2.4rem 4.5rem; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.form__group {
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

input {
    height: 4.5rem;
    border-radius: .8rem;
    border: 1px solid #DFDEE0;
    padding-left: 1.6rem; 
}



input::placeholder {
    padding-left: 2rem;
    font-size: 1.8rem;
    color: #21092F;
    opacity: 30%;
}

#form__group--number {
    position: relative;
}

.form__exp_date_cvc--container {
    display: flex;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .8rem;
    position: relative;

}

#form__group--date {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#form__month, #form__year {
    width: 7.2rem;
    margin-top: .9rem;
}

#form__year--label, #form__month--label {
    display: none; 
}

#form__cvc {
    width: 16.4rem ;
}


button {
    margin-top: .8rem;
    background-color: var(--Very-dark-violet);
    color: var(--White);
    height: 5.3rem;
    border-radius: 8px;
    font-size: 1.8rem;
}

.error__msg {
    color: var(--Red);
    font-size: 1.2rem;
}

.hidden {
    display: none;
}

.thankyou__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9.1rem;
}

.thankyou__container.hidden {
    display: none;
}

.thankyou__img {
    width: 8rem;
    height: 8rem;
}

.thankyou__title {
    font-size: 2.8rem;
    margin-top: 3.5rem ;
    margin-bottom: 1.6rem;
    letter-spacing: .34rem;

}

.thankyou__text {
    font-size: 1.8rem ;
    color: var(--Dark-grayish-violet);
    margin-bottom: 4.8rem;

}

.continue__btn {
    width: 32.7rem;
    background-color: var(--Very-dark-violet);
    color: var(--White);
    height: 5.3rem;
    border-radius: 8px;
    font-size: 1.8rem;

}


/* ------------------------------------------------------------------------------------
                    Desktop
------------------------------------------------------------------------------------ */
@media screen and (min-width: 1040px) {
    

main {
    display: flex;
    background-image: url(./images/bg-main-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.card__img--container {
    background-image: none;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}

.card__back--container {
    position: relative;
    width: 44.7rem;
    height: 24.5rem;
    top: 43.7rem ;
    left: 25.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 60px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 60px -18px;
}

.card__back--img {
    width: 100%;
    position: absolute;
}

.card__front--absolute {
    position: absolute;
    top: 18.7rem;
    left: 16.4rem;
}

.card__front--container {
    position: relative;
    display: flex;
    width: 44.7rem;
    height: 24.5rem;
    flex-direction: column;
    margin-top: 0;
    top: 0;
    right: 0;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 60px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 60px -18px;

}

.card__front--img {
    width: 100%;
    top: 0;
}

.card__front--logo {
    top: 2.8rem;
    left: 3.2rem;
    width: 8.4rem;
    height: 4.7rem;
}

.card__front--num {
    top: 13.9rem;
    left: 3.2rem ;
    color: var(--White);
    font-size: 2.8rem;
    letter-spacing: .22rem;
}

.card__front--name_date--container {
    position: absolute;
    color: var(--White);
    display: inline-flex;
    width: 44.7rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    justify-content: space-between;
    top: 20rem;
    font-size: 1.4rem;
    letter-spacing: .2rem;  
}

#cvc {
    position: absolute;
    color: var(--White);
    right: 5.3rem;
    top: 11.5rem;
    font-size: 1.4rem ;
}

form {
    gap: 2.6rem;
}

.form__container {
    margin-left: 36rem;
    margin-top: 27.5rem ;
    width: 38.1rem;
}

#form__month, #form__year {
    width: 8rem;
    margin-top: .9rem;
}

#form__cvc {
    width: 19.1rem ;
}

button {
    margin-top: 1.8rem;
}

.thankyou__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30.5rem;
    margin-left: 34.9rem;
}

.thankyou__container.hidden {
    display: none;
}

.thankyou__img {
    width: 8rem;
    height: 8rem;
}

.thankyou__title {
    font-size: 2.8rem;
    margin-top: 3.5rem ;
    margin-bottom: 1.6rem;

}

.thankyou__text {
    font-size: 1.8rem ;
    color: var(--Dark-grayish-violet);
    margin-bottom: 4.8rem;

}

}